# PyCity Schools Analysis

- Your analysis here

---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")

## District Summary

In [2]:

# Calculate District Summary

# Total schools
total_schools = school_data['school_name'].nunique()

# Total students
total_students = student_data['Student ID'].count()

# Total budget
total_budget = school_data['budget'].sum()

# Average math score
avg_math_score = student_data['math_score'].mean()

# Average reading score
avg_reading_score = student_data['reading_score'].mean()

# Percentage of students passing math (70 or higher)
passing_math = student_data[student_data['math_score'] >= 70]['Student ID'].count() / total_students * 100

# Percentage of students passing reading (70 or higher)
passing_reading = student_data[student_data['reading_score'] >= 70]['Student ID'].count() / total_students * 100

# Overall passing rate (students passing both math and reading)
overall_passing = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['Student ID'].count() / total_students * 100

# Create DataFrame for district summary
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passing_math],
    "% Passing Reading": [passing_reading],
    "% Overall Passing": [overall_passing]
})

# Formatting the Total Students and Total Budget columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [3]:
# School Summary

# Calculate per student budget
school_data['Per Student Budget'] = school_data['budget'] / school_data['size']

# Merge school and student data on "School Name"
merged_data = pd.merge(student_data, school_data, how="left", on=["school_name"])

# Group data by school
school_grouped = merged_data.groupby("school_name")

# Average math and reading scores
school_avg_math = school_grouped['math_score'].mean()
school_avg_reading = school_grouped['reading_score'].mean()

# Percentage of students passing math, reading, and both
school_passing_math = merged_data[merged_data['math_score'] >= 70].groupby("school_name")['Student ID'].count() / school_data.set_index('school_name')['size'] * 100
school_passing_reading = merged_data[merged_data['reading_score'] >= 70].groupby("school_name")['Student ID'].count() / school_data.set_index('school_name')['size'] * 100
school_overall_passing = merged_data[(merged_data['math_score'] >= 70) & (merged_data['reading_score'] >= 70)].groupby("school_name")['Student ID'].count() / school_data.set_index('school_name')['size'] * 100

# Create a DataFrame to summarize school performance
school_summary_df = pd.DataFrame({
    "School Type": school_data.set_index('school_name')["type"],
    "Total Students": school_data.set_index('school_name')["size"],
    "Total School Budget": school_data.set_index('school_name')["budget"],
    "Per Student Budget": school_data.set_index('school_name')["Per Student Budget"],
    "Average Math Score": school_avg_math,
    "Average Reading Score": school_avg_reading,
    "% Passing Math": school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing": school_overall_passing
})

# Formatting the Total School Budget and Per Student Budget
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [4]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

# Display the total budget
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()

# Display the average math score
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()

# Display the average math score
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# Calculate the total number of students
total_students = student_data['Student ID'].count()

# Calculate the number of students who passed math (Math Score >= 70)
students_passing_math = student_data[student_data['math_score'] >= 70]['Student ID'].count()

# Calculate the percentage of students who passed math
percent_passing_math = (students_passing_math / total_students) * 100

# Display the percentage of students who passed math
percent_passing_math

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
total_students = student_data['Student ID'].count()

# Calculate the number of students who passed reading (Reading Score >= 70)
students_passing_reading = student_data[student_data['reading_score'] >= 70]['Student ID'].count()

# Calculate the percentage of students who passed reading
percent_passing_reading = (students_passing_reading / total_students) * 100

# Display the percentage of students who passed reading
percent_passing_reading

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
# Calculate the number of students who passed both math and reading (Math Score >= 70 and Reading Score >= 70)
students_passing_both = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['Student ID'].count()

# Calculate the percentage of students who passed both math and reading
percent_passing_both = (students_passing_both / total_students) * 100

# Display the percentage of students who passed both math and reading
percent_passing_both

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_passing_both]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

#Display the school types
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index('school_name')['size']

# Display the total student count per school
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school from school_data
# Calculate the total school budget per school
per_school_budget = school_data['budget']

# Calculate the per capita spending per school
per_school_capita = school_data['budget'] / school_data['size']

# Display the results
per_school_budget, per_school_capita

(0     1910635
 1     1884411
 2     1056600
 3     3022020
 4      917500
 5     1319574
 6     1081356
 7     3124928
 8      248087
 9      585858
 10    1049400
 11    2547363
 12    3094650
 13    1763916
 14    1043130
 Name: budget, dtype: int64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64)

In [14]:
# Calculate the average test scores per school from school_data_complete
# Calculate average math scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()

# Calculate average reading scores per school
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

# Display the results
per_school_math, per_school_reading

(school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64)

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
# Calculate the total number of students with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

# Group by 'School Name' and count the number of students passing math
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()

# Display the results
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
# Calculate the total number of students with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

# Group by 'School Name' and count the number of students passing reading
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()

# Display the results
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [19]:
per_school_budget = per_school_budget.reindex(per_school_counts.index)
per_school_capita = per_school_capita.reindex(per_school_counts.index)
per_school_math = per_school_math.reindex(per_school_counts.index)
per_school_reading = per_school_reading.reindex(per_school_counts.index)
overall_passing_rate = overall_passing_rate.reindex(per_school_counts.index)

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate
})


# Ensure the index is set to the school name
per_school_summary.index = per_school_counts.index

# Sort the schools by `% Overall Passing` in descending order
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 rows
top_schools.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Figueroa High School,1858,NaN,NaN,83.061895,83.975780,94.133477,97.039828,91.334769
Johnson High School,1635,NaN,NaN,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,NaN,NaN,83.351499,83.816757,93.392371,97.138965,90.599455
Ford High School,2283,NaN,NaN,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,NaN,NaN,83.839917,84.044699,94.594595,95.945946,90.540541

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
# Sort the schools by `% Overall Passing` in descending order
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 rows
top_schools.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Figueroa High School,1858,NaN,NaN,83.061895,83.975780,94.133477,97.039828,91.334769
Johnson High School,1635,NaN,NaN,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,NaN,NaN,83.351499,83.816757,93.392371,97.138965,90.599455
Ford High School,2283,NaN,NaN,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,NaN,NaN,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
bottom_schools.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Wright High School,3999,NaN,NaN,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,2949,NaN,NaN,76.711767,81.158020,65.988471,80.739234,53.204476
Bailey High School,2917,NaN,NaN,76.629414,81.182722,65.683922,81.316421,53.513884
Wilson High School,4635,NaN,NaN,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,4761,NaN,NaN,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary